<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="API_PUBLIC_KEY" value="LAZECUOjDXbUY7QjGUX/RJyTnXCi235FYY8CSn4w0RZuuRTWrtavxINo1EA1PKWY" />
    <add key="API_SECRET_KEY" value="CSuRYbaDVONeAbLa/U5YBlk3mxaHAH3D3cC8J5zuJW3p//YeDUUGL11zR00bbOD8" />
  </appSettings>
</configuration>